.list {
  font-size: 20px;
  color: #22313f;
}

.item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.list_btn {
  height: 30px;
  width: 80px;
  color: #22313f;
  border: 2px solid #22313f;
  font-size: 15px;
}
